body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

html {
    height: 100%;
}

#location {
    display: none;
}

#location-input {
    border-radius: 0px;
}